body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/campoFreepik.jpg);
}

input[type=text], input[type=button], input[type=email], input[type=password] {
    width             : 97%;
}

.login-container {
    height: 48em;
    width: 55em;
    margin: 9em auto;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 59%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 0rem;
    background-image: linear-gradient(to top, #e4e9de 0%, rgb(189, 235, 193) 100%);
}

.avatar1{
    width: 100px; 
    height: 100px;
    border-radius: 80%; /*para convertir recuadro en circulo*/
    position: top;
    top: 100px; 
}

.image-container {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(1, 15, 8);
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 30%;
    width: 85%;
    justify-content: space-around;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 100px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

textarea {
    width       : 95%;
    height      : 50px;
    font-weight : 600;
    resize      : vertical;
}

.form {
    width:30vw; height: 30vh; padding:16px; border-radius: 10px; background-color: rgb(1, 65, 33); position: absolute; top:40vh; left:35vw;
}

.fila {
    height      : 48px;
}

.c3 {
    width      : 30%;
    display    : inline;
    color      : rgb(8, 32, 10);
    float      : left;
    padding-right: 3%;
    padding-left: 4%;
    font-weight: 600;
    letter-spacing:0px;
    overflow-x : hidden;
}

.c7 {
    width      : 60%;
    display    : inline;
    float      : left;
    padding-bottom: 1%;
    font-weight: 600;
    letter-spacing: 0px;
    overflow-x : hidden;
 }

.c9 {
    width      : 62%; 
    display    : inline;
    row-gap     : 63;
    padding-bottom: 1%;
    float      : left;
    font-weight: 600;
    letter-spacing: 1px;
 }

.input:hover {
    border: 2px solid var(--button-bg);
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}