<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>La giralda</title>
</head>

<body>
  <br>
  <h1 class="text-center"><strong>Creacion Nuevo Usuario</strong></h1>
  <br>
  <div class="container">
    <div style="display: flex;justify-content: center;">
      <img src="https://www.svgrepo.com/show/10678/avatar.svg" width="100" height="100" alt="usuario avatar">
    </div>
    <br>
    <form name='crear' id="crear" action="/crear" method="POST">
      <div class="row">
        <div class="form-group col-md-6 ">
          <label>Nombre</label>
          {{form.nombre(class_="form-control")}}
        </div>
        <div class="form-group col-md-6">
          <label>Apellido</label>
          {{form.apellido(class_="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Documento de identidad</label>
          {{form.documento(class_="form-control")}}
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="validationCustom03" >
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Cargo</label>
          {{form.cargo(class_="form-control")}}
        </div>
        <div class="col-md-6">
          <label class="form-label">Area</label>
          {{form.area(class_="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Salario</label>
          {{form.salario(class_="form-control")}}
        </div>
        <div class="col-md-6">
          <label class="form-label">Tipo de Contrato</label>
          {{form.tipoContrato(class_="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Fecha Ingreso</label>
          {{form.fecIngreso(class_="form-control")}}
        </div>
        <div class="col-md-6">
          <label class="form-label">Fecha Terminación de contrato</label>
          {{form.terminacion(class_="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Puntaje</label>
          {{form.puntaje(class_="form-control")}}
        </div>
        <div class="col-md-6">
          <label class="form-label">Retroalimentación</label>
          {{form.retro(class_="form-control")}}
        </div>
      </div>
      <br>
      <div style="display: flex;justify-content:space-around;">
        {{form.btn(class_="btn btn-primary")}}
        <button type="button"  class="btn btn-danger" href="/dashboard">Cancelar</button>
      </div>
    </form>

  </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script>
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
</body>

</html>