<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css")}}'/>
        
        <title>Informacion Empleado La Giralda</title>

    </head>
    <body>
          <div class="login-container">
              <div class="login-info-container">
                <h1 class="title">Informacion del Empleado <img class="avatar1" src='{{ url_for("static", filename="img/registro.png")}}'  align="middle" alt="Login"/></h1>
                <form class="inputs-container"> 
                    <div class='fila'>
                        <div class="c3">Nombre</div>
                        <div class="c7"><input type="text" id="nomtxt" name="nomtxt"/></div>
                    </div>
                    <div class='fila'>
                        <div class="c3">Apellido</div>
                        <div class="c7"><input type="text" id="apetxt" name="apetxt"/></div>
                    </div>
                    <div class='fila'>
                        <div class="c3">Cargo</div>
                        <div class="c7"><input type="text" id="cartxt" name="cartxt"/></div>
                    </div>
                    <div class='fila'>
                        <div class="c3">Fecha Ingreso</div>
                        <div class="c7"><input type="text" id="fchtxt" name="fchtxt"/></div>
                    </div>
                    <div class='fila'>
                        <div class="c3">Tipo Contrato</div>
                        <div class="c7"><input type="text" id="tictxt" name="tictxt"/></div>
                    </div>                
                    <div class='fila'>
                        <div class="c3">Terminacion Contrato</div>
                        <div class="c7"><input type="text" id="tcotxt" name="tcotxt"/></div>
                    </div>                
                    <div class='fila'>
                        <div class="c3">Area</div>
                        <div class="c7"><input type="text" id="aretxt" name="aretxt"/></div>
                    </div>                
                    <div class='fila'>
                        <div class="c3">Salario Devengado</div>
                        <div class="c7"><input type="text" id="sadtxt" name="sadtxt"/></div>
                    </div>
                    <div class='fila'>
                        <div class="c3">Puntaje</div>
                        <div class="c7"><input type="text" id="puntxt" name="puntxt"/></div>
                    </div>  
                    <div class="c3">Retroalimentacion </div>
                    <div class="c9"><textarea></textarea></div>
                </form>
              </div>
          </div>
    </body>
</html>