<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% if titulo %}
            <title>{{ titulo }}</title>
        {% else %}
            <title>Alimentos plantilla</title>
        {% endif %}
        
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/master.css")}}'/>
        <!--<script type="text/Javascript" src='{{ url_for("static", filename="js/script")}}'></script>-->

    </head>
    <body>
        <div class="fila menu">
            <div class="c3"><h1>Alimento La Giralda</h1></div>
            <div class="c3"><h1>&nbsp;</h1></div>
            <div class="c2"><h1>&nbsp;</h1></div>
            <div class="c1"><a href="/"><h1>Home</h1></a></div>
            <div class="c1"><a href="/login"><H1>Login</H1></a></div>
        </div>
       
        {% block cuerpo%} {%endblock%}
        {%for msg in get_flashed_messages() %}
            <div class="fila">{{ msg }}</div>
        {% endfor%}
        
    </body>
</html>